/* src\styles\dashboard.module.css */
.ContainerMainDeclaration {
    width: 40rem;
    display: flex;
    flex-direction: column; 
    justify-self: center;
    padding: 0;
    margin: 0;
    position: relative;
    transition: filter 0.3s ease;
}

.HeaderDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.LogoImageReceitaFedral {
    width: 5rem;
    height: 3rem;
}

.SectionMainDeclarationsUser {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.DeclarationCards {
    width: fit-content;
    background: rgb(180, 180, 180);
    color: black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    
}
.DeclarationCards:hover {
    background: rgb(104, 104, 104);
    color: white;
    transition: 0.3s ease;
}

.DeclarationCards > p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.SectionMainDeclarationForm {
    display: flex;
    justify-content: center
    ;
}

.FormDeclarationPopUpButton {
    width: 50%;
    padding: 0.75rem 1.5rem;
    background-color: #9ba63d;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.FormDeclarationPopUpButton:hover {
    background-color: #765531;
}

.PopupOverlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    overflow-y: auto; 
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.CloseButtonPopUp {
    background: #9ba63d;
    padding: 0.2rem 0.7rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
}
.CloseButtonPopUp:hover {
    background-color: #bccb34;
    transition: 0.3s ease;
}